<!doctype html>
<html class="no-js" lang="en">
  <head>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>

  </head>

  <body>

    <div class="wrapper-masthead">
      <div class="row">
        <div class="small-12">
          <header class="masthead">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Blog</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>
        </div>
      </div>
    </div>

    <div id="main" role="main">
      <div class="row">
        <div class="small-12 columns">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          <p>© Leon Harris 2015</p>
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
